<div class="paciente-tabela">
  <button matButton="filled" (click)="cadastrar()">Novo paciente</button>

  @if (erro()) {
    <p class="mensagem-erro">{{ erro() }}</p>
  } @else if (pacientes().length === 0) {
    <p>Nenhum paciente encontrado.</p>
  } @else {
    <table mat-table [dataSource]="pacientes()" class="mat-elevation-z1">
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.nome }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.email }}</td>
      </ng-container>

      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef>CPF</th>
        <td mat-cell *matCellDef="let paciente">{{ paciente.cpf }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let row; columns: colunas"></tr>
    </table>
  }

  <mat-paginator
    [length]="totalElementos()"
    [pageIndex]="pagina()"
    [pageSize]="tamanhoPagina()"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="paginar($event)"
  ></mat-paginator>
</div>
